* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  background-color: pink;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 50px;
}

.nav-list {
  margin-right: 50px;
  list-style-type: none;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
}

.nav-list li {
  margin: 20px;
}

.App {
  text-align: center;
  border: 2px solid red;
}

section {
  /* width: 100%; */
  padding: 20px;
  background-color: rgb(131, 151, 187);
}
.profile-photo {
  height: auto;
  max-width: 120px;
  /* padding: 10px; */
  border-radius: 50%;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 15px 15px 40px 5px rgba(0, 0, 0, 0.6);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: 2px solid pink;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
